@using HtmlHelper.Models
@model Datos
@{
    ViewBag.Title = "Resultado";
}
<h2>Resultado</h2>
Cedula:@Html.DisplayFor(y => y.Cedula)<br />
Nombre:@Html.DisplayFor(y => y.Nombre)<br />
Apellido:@Html.DisplayFor(y => y.Apellido)<br />
Edad:@Html.DisplayFor(y => y.Edad)<br />
Telefono:@Html.DisplayFor(y => y.Telefono)<br/>
Correo:@Html.DisplayFor(y => y.Correo)<br />
Genero:@Html.DisplayFor(y => y.Genero)<br />
Estatus:@Html.DisplayFor(y => y.Estado)<br />
Jugar:@Html.DisplayFor(y => y.Jugar)<br />
Ajedrez:@Html.DisplayFor(y => y.Ajedrez)<br />
Ejercitarse:@Html.DisplayFor(y => y.Ejercitarse)<br />
Pintar:@Html.DisplayFor(y => y.Pintar)<br />
